@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Khand&family=PT+Sans+Narrow:wght@400;700&family=Rajdhani&family=Roboto+Condensed:ital,wght@1,100..900&display=swap');
body{
    font-family: "PT Sans Narrow", sans-serif;
    background-image:linear-gradient(to bottom, #31363F , rgb(57, 67, 68),#32454f,rgb(5, 64, 75,1),#31363F);
    color: #EEEEEE;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
  }
  .animate__animated.animate__fadeInLeft{
    --animate-duration: 2s;
  }
  .animate__animated.animate__fadeInRight{
    --animate-duration: 2s;
  }
  .animate__animated.animate__fadeIn{
    margin-top: -220px;
    --animate-duration:2  s;
  }
  .textClassCar.animate__animated.animate__fadeInLeft{
    --animate-duration:2s;
  }
  .animate__animated.animate__bounce{
    --animation-duration:2s ;
  }
  .animate__animated.animate__bounceInRight{
    --animation-duration:2s ;
  }
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }
  #imgBanner{
    width: 101%;
    height: 100%;
    margin-top: -40px;
  }
  .containerBanner{
    top: -10px;
    left: -20px;
    position: relative;
    text-align: center;
  }
  #textBanner{
    display: grid;
    color: white;
    font-family:"Khand", sans-serif; 
    position: absolute;
    top: 94%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 35px;
  }
  #itemTextBanner{
    margin-bottom: -10px;
  }

  #titlePag{
    color: white;
    font-family:"Rajdhani", sans-serif; 
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  .nav{
    color: white;
    font-family:"Rajdhani", sans-serif; 
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    display: flex;
    list-style: none;
  }
  .liNav{
    margin-left: 20px;
  }
  #titlePagBl{
    color: rgb(41, 41, 41);
    font-family:"Rajdhani", sans-serif; 
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  #linkNav{
    text-decoration: none;
    margin-left: 10px;
    color: #EEEEEE;
    font-size:16px;
    background-color: rgba(108, 161, 164,0.0);
    padding:8px;
    border: rgb(228, 238, 238,0.0) 2px solid;
    border-radius: 5px;
  }
  #linkNav:hover{
    animation: linksAnimation 1s;
    border: rgb(238, 238, 238,1.0) 2px solid;
    background-color: #2d5759;
  }
  @keyframes linksAnimation{
    0%{
      border: rgb(238, 238, 238,0.0) 2px solid;
      background-color: rgba(118, 171, 174,0.0);
    }
    100%{
      border: rgb(238, 238, 238,1.0) 2px solid;
      background-color: #2d5759;
    }
  }
  .titleNav{
    background-color: transparent;
    color: #EEEEEE;
    margin-top: 40px;
  }
  .titleNavWhite{
    background-color: white;
  color: black;
    }

    #imgInicio{
      width: 99%;
      left: -30px;
    }
    .btnBanner{
      color: white;
      font-size: 16px;
      font-family:"Rajdhani", sans-serif; 
      position: absolute;
      top: 76%;
      left: 10%;
      transform: translate(-50%, -50%);
      display: flex; 
      background-color: rgba(34, 40, 49,0.01);
      padding: 2px;
      border: 1px solid transparent;
      border-radius: 5px;
      text-decoration: none;
      text-shadow: 3px 3px 1px rgba(0, 0, 0,0.3);
    }
    .btnBanner:hover{
      animation: btnBanner 1s;
      background-color: rgba(34, 40, 49,1);
      box-shadow: 2px 4px 6px rgba(8, 45, 61, 1);
    }
    @keyframes btnBanner{
      0%{background-color: rgba(34, 40, 49,0.01);
        box-shadow: 2px 4px 6px rgba(8, 45, 61, 0.0);
      }
      100%{
        background-color: rgba(34, 40, 49,1);
        box-shadow: 2px 4px 6px rgba(8, 45, 61, 1);
      }
    
      }


    
    
    #tituloSection{
      color:rgb(255, 255,255);
      border-top: 20px;
      border-bottom: 0px;
      font-size: 30px;
      font-family:"Rajdhani", sans-serif;
      margin-left: 100px;
    }
    #versiones{
      background-color: rgb(63, 78, 79,0.1);
      padding: 10px;
      height: 150%;

    }
    .container{
      width: 100%;
      height: 400px;
      overflow: hidden;
      position: relative;
      background-color: rgb(214, 214, 214,0,05);
      margin-bottom: 20px;
      box-shadow: 2px 3px 10px rgb(48, 77, 84);
      }
      
      .slide {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      background-color: rgb(63, 78, 79,0.1);
      }
      
      .slide.active {
      display: block;
      opacity: 1;
      }
      
      .slide  {
      width: 100%;
      height: 100%;
      object-fit: cover;
      justify-content: center;
      color: white;
      border-top:black 0.3px solid;
      }
      .contentSlide{
          justify-self: center;
          position: absolute;
      }
      #imgSlide{
          width: 50%;
          height: 100%;
          object-fit: cover;
          text-align: center;
          
      }
      .prev, .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
      }
      .imgTextSlide{
          display: flex;
          margin-left: 60px;
          margin-top: 15px;
      }
      .textBtnSlide{
          margin-left: 30px;
          font-family: "Rajdhani", sans-serif;
      }
      #paragraphSlide{
          max-width: 300px;
      }
      .prev {
      left: 20px;
      }
      
      .next {
      right: 20px;
      }

      /*BTN XL*/
      #featuresXl, #financingXl{
        padding: 4px;
        text-decoration: none;
        border-radius: 5px;
        color: black;
        background-color: rgb(62, 85, 87,0.1);
        box-shadow: 1px 4px 8px rgb(5, 64, 75,0.1);
     }
     #financingXl{
       margin-left: 60px;
     }
     #featuresXl:hover, #financingXl:hover{
       animation:btnsFinanFeatXl 1s;
       color: white !important;
       background-color: rgb(62, 85, 87,1) !important;
       box-shadow: 1px 4px 8px rgb(5, 64, 75,1) !important;
     }
     @keyframes btnsFinanFeatXl {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.1);
      }
    }
    .footer{
      
     margin-top: 50px; 
     padding: 10px;
     margin-left: -10px;
     position:relative;
     margin-bottom: -20px;
    }
    .navFoot{
      display: flex;
      list-style: none;
    } 
    #liFoot{
      margin-top: 30px;
      margin-left: 20px;
    }
    #aFoot{
      text-decoration: none;
      color: white;
      padding: 5px;
      border: 1px rgb(58, 117, 148,0.1) solid;
      border-radius: 5px;
      background-color: rgb(58, 117, 148,0.1);
      box-shadow: -2px -4px -7px -1px  rgb(0, 77, 128,1);
    }
    #aFoot:hover{
      animation:navFoot 1s;
      background-color: rgb(58, 117, 148,1);
      box-shadow: 2px 4px 7px 1px  rgb(0, 77, 128,1);
    }
    @keyframes navFoot{
      0%{
        background-color: rgb(58, 117, 148,0.1);
        box-shadow: 2px 2px 1px 1px  rgb(0, 77, 128,0.1);
      }
      50%{
        background-color: rgb(58, 117, 148,1);
        box-shadow: 2px 4px 10px 3px  rgb(0, 77, 128,1);
      }
      100%{
        box-shadow: 2px 4px 7px 1px  rgb(0, 77, 128,1);
      }
    }
    .navTitFoot{
      margin-left: 80px;
      font-family:"Rajdhani", sans-serif;
    }
    .navsFoot{
      display: block;
    }
    .popularTitle{
      position: absolute;
      transform: translate(-50%,-50%);
      top: 27%;
      left:50%;
      margin-bottom: 20px;
    }
    #titleNavs{
      margin-bottom: -15px;
      margin-left: 60px;
      font-family:"Rajdhani", sans-serif;
    }
    #copyright{
      margin-bottom: -10px;
      margin-left: 30px;
    }
    #titlePopularLinks{
      font-family: "Rajdhani", sans-serif;
      margin-left: 20px;
    margin-bottom: 20px;
    }
    .linkMostPop{
      margin-top: 40px;
      display: flex;
      list-style: none;
    }
    #liPopu{
      margin-left: 20px;
      font-family: "Rajdhani",sans-serif;
    }
    .redesNav{
      display: flex;

    }
    .redes{
      display: block;
      list-style: none;
    }
    .bi.bi-facebook{
      box-shadow: 1px 3px 9px rgb(2, 61, 145,0.3);
      border-radius: 100%;
      color: rgb(3, 107, 175,0.3);
      width:30px;
      height: 100%;
    }
    .bi.bi-facebook:hover{
      animation:iconAnimationFacebook 1s;
      box-shadow: 1px 3px 9px rgb(0, 106, 138);
      border-radius: 100%;
      color: rgb(3, 107, 175,0.8);
    }
    @keyframes iconAnimationFacebook{
      0%{
        color: rgb(3, 107, 175,0.3);
        box-shadow: 1px 3px 9px rgb(2, 61, 145,0.3);
      }
      100%{
        box-shadow: 1px 3px 9px rgb(0, 106, 138);
        color: rgb(3, 107, 175,0.8);
      }
    }

    .bi.bi-instagram{
      
      box-shadow: 1px 3px 9px rgb(2, 61, 145,0.3);
      border-radius: 25%;
      color: rgb(3, 107, 175,0.3);
      width:30px;
      height: 100%;
    }
    .bi.bi-instagram:hover{
      animation:iconAnimationInstagram 1s;
      box-shadow: 1px 3px 9px rgb(0, 106, 138);
      border-radius: 25%;
      color:rgb(23, 111, 131);
      }
    @keyframes iconAnimationInstagram{
      0%{
        color: rgb(23, 111, 131,0.3);
        box-shadow: 1px 3px 9px rgb(2, 61, 145,0.3);
      }
      100%{
        color:rgb(23, 111, 131);
        box-shadow: 1px 3px 9px rgb(0, 106, 138);
      }
    }
    #divisionFooter{
      color: rgb(205, 205, 205,0.2);
      background-color: rgb(205, 205, 205,0.2);
    }
    .navRedesTitle{
      position: absolute;
      transform: translate(-50%,-50%);
      left: 95%;
      top: 50%;
    }
    .consultBar{
      width: 100%;
      margin-top: -20px;
      margin-left: -20px;
      color: black;
      background-image: linear-gradient(to right,rgb(255, 255, 255), rgb(200,200,200));
      padding: 6px;
      display: flex;
    }
    .tools{
      margin-top: 10px;
      margin-left: 30px;
      display: flex;
    }
    #tool{
      text-decoration: none;
      color: black;
      border-right: 1px rgb(41, 41, 41) solid;
      padding: 7px;
      padding-top: 14px;
      margin-left: 0px;
      margin-top: -15px;
      margin-bottom: -6px;
    }
    .last{
      border-right:1px rgb(51, 51, 51,0.0) solid ;
    }
    .first{
      
      border-right: 1px rgb(41, 41, 41) solid;
    }
    #tool:hover{
      animation:tool 0.3s;
      background-color:rgb(51, 51, 51) ;
      color: white;
    }
    @keyframes tool{
      0%{
        background-color: rgb(51,51, 51, 0.0);
        color: rgb(0, 0, 0);
      }
      100%{
        background-color: rgb(51,51, 51, 1);
        color: rgb(255,255, 255);
      }

    }
    #modelBar{
      margin-left: 25%;
      margin-top: 10px;
      margin-bottom: -8px;
      color: rgb(32, 62, 79);
      font-family: "Rajdhani",sans-serif;
    }
    #priceBar{
      margin-bottom: -8px;
      margin-top: 10px;
      margin-left: 31%;
      font-family: "Rajdhani",sans-serif;
      
    }
    #priceBar:hover{
      animation: priceBar 0.2s;
      font-size: 16.5px;
      color:rgb(0, 115, 141);

    }
    @keyframes priceBar{
      0%{
        color: black;
        font-size: 16px;
      }
      100%{
        font-size: 16.5px;
        color:rgb(0, 115, 141);
      }
    }
    #textInicio{
      transform: translate(-50%,-50%);
      position: absolute;
      left: 20% ;
      top:150%;
      font-size: 30px;
      font-family: "Rajdhani",sans-serif;
    }
    .parallax{
      background-image: url("/banners/f150avif");
      min-height:460px;
      margin-left: -20px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .parallaxRanger{
      background-image: url("/banners/ranger.avif");
      min-height:460px;
      margin-left: -20px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .parallaxMav{
      background-image: url("/banners/maverick.avif");
      min-height:460px;
      margin-left: -20px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; 
    }
    #imgBannerContacto{
      margin-top: -70px;
      margin-left:-20px ;
    }
    .animate__animated.animate__fadeInLeft{
      --animate-duration:1s;
    }
    .animate__animated.animate__fadeInRight{
      --animate-duration:1s;
    }