@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Khand&family=PT+Sans+Narrow:wght@400;700&family=Rajdhani&family=Roboto+Condensed:ital,wght@1,100..900&display=swap');

  body{
    font-family: "PT Sans Narrow", sans-serif;
    background-color:#222831;
    color: #EEEEEE;
    width: 100%;
    height: 100%;
  }
  .nav-header{
    list-style:none;
    display: flex;
    margin-left:700px;
    margin-top:40px;
  }
  #imgBanner{
    width: 100%;
    position: absolute;
    margin-left:-20px;
    transform: translate(-50%,-50%);
    left: -40%;
  }
  .titlePag{
    font-family: "Rajdhani", sans-serif;
    font-size:35px ;
  }
  .header{
    margin-left: -20px;
    background-color: #31363F;
    color: white;
    padding: 30px;
    left: 0;
    top: 0;  
  }
  .linkHeader{
    text-decoration: none;
    margin-left: 10px;
    color: #EEEEEE;
    font-size:15px;
    background-color: rgba(108, 161, 164,0.0);
    padding:8px;
    border: rgb(228, 238, 238,0.0) 2px solid;
    border-radius: 5px;
  }
  .linkHeader:hover{
    animation: linksAnimation 1s;
    border: rgb(238, 238, 238,1.0) 2px solid;
    background-color: #2d5759;
  }
  @keyframes linksAnimation{
    0%{
      border: rgb(238, 238, 238,0.0) 2px solid;
      background-color: rgba(118, 171, 174,0.0);
    }
    100%{
      border: rgb(238, 238, 238,1.0) 2px solid;
      background-color: #2d5759;
    }
  }
  .contentHeader{
    display: flex;
  }
  .animate__animated.animate__fadeInLeft{
    --animate-duration: 2s;
  }
  .animate__animated.animate__fadeInRight{
    --animate-duration: 2s;
  }
  .animate__animated.animate__fadeIn{
    --animate-duration:4s;
  }
  .textClassCar.animate__animated.animate__fadeInLeft{
    --animate-duration:2s;
  }
  .animate__animated.animate__bounce{
    --animation-duration:2s ;
  }
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }
  .contenedor{
    display: flex;
  }
  #titleCar{
    margin-left: 20px;
    font-size: 30px;
    font-family:"Rajdhani", sans-serif;
  }
  #containerLink{
    margin-top: 20px;
  }
  #textCar{
   max-width: 700px;
   font-size:20px;
   margin-left: 20px;
  }
  #img{
    text-align: right;
    margin-left: 400px;
  }
  .footer{
    background-color:#31363F;
    padding: 20px;
  }
  .listLinksFooter{
    list-style: none;
    display: block;

  }
  #linksFooter{
    margin-top: 10px;
    text-decoration: none;
    margin-left: 10px;
    color: #EEEEEE;
    font-size:20px;
    background-color: rgba(108, 161, 164,0.0);
    padding:8px;
    border: rgb(228, 238, 238,0.0) 2px solid;
    border-radius: 5px;
  }
  #linksFooter:hover{
    animation: linksAnimation 1s;
  }
  .footerContent{
    display: flex;
  }
  .map{
    margin-left: 700px;
  }
  #copy{
    margin-top: 10px;
    margin-left: 200px;
  }